aiohttp
pyrofork==2.3.4
python-dotenv
TgCrypto
feedparser
Flask
cloudscraper
requests
beautifulsoup4
lxml
undetected-chromedriver
selenium
torrent-parser
bencodepy
certifi
urllib3
setuptools
